USE [master]
GO
/****** Object:  Database [dbBase]    Script Date: 2025/9/4 下午 04:12:29 ******/
CREATE DATABASE [dbBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbBase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\dbBase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbBase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\dbBase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbBase]
GO
/****** Object:  Table [dbo].[AttendanceRecords]    Script Date: 2025/9/4 下午 04:12:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendanceRecords](
	[fId] [int] IDENTITY(1,1) NOT NULL,
	[fEmployeeId] [nvarchar](50) NULL,
	[fPunchTime] [datetime] NULL,
	[fPunchType] [varchar](10) NULL,
	[Location] [varchar](50) NULL,
 CONSTRAINT [PK_AttendanceRecords] PRIMARY KEY CLUSTERED 
(
	[fId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tEmployee]    Script Date: 2025/9/4 下午 04:12:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tEmployee](
	[fId] [int] IDENTITY(1,1) NOT NULL,
	[fName] [nvarchar](50) NULL,
	[fGender] [nvarchar](50) NULL,
	[fDepartment] [nvarchar](50) NULL,
	[fEmail] [nvarchar](50) NULL,
	[fPhone] [nvarchar](50) NULL,
	[fPassword] [nvarchar](50) NULL,
	[fTitle] [nvarchar](50) NULL,
	[fImage] [image] NULL,
	[fEmployeeId] [nvarchar](50) NULL,
 CONSTRAINT [PK_tEmployeeId] PRIMARY KEY CLUSTERED 
(
	[fId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
